workflows/telegram-callback-handler.json
{
  "name": "Telegram Callback Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-callback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b0ba9b65-42ce-411a-8fd7-5b1d024e8cb1",
      "name": "Telegram Callback Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst PATH = '/data/state/pending-callbacks.json';\n\nconst body = $input.first().json.body;\nif (!body || !body.callback_query) {\n  throw new Error('Missing callback_query in webhook payload — not a Telegram callback POST?');\n}\n\nconst cb = body.callback_query;\nconst rawData = cb.data || '';\n\n// Detect prefix:suffix shape. Prefix is single char j / s / anything else.\n// \"j:abc12345\" → prefix=\"j\", suffix=\"abc12345\"\n// \"s:titanic\"  → prefix=\"s\", suffix=\"titanic\"  (legacy Phase A slug)\nconst colonIdx = rawData.indexOf(':');\nlet action = 'unknown';\nlet suffix = '';\nif (colonIdx === 1) {\n  const prefix = rawData[0];\n  suffix = rawData.slice(2);\n  if (prefix === 'j') action = 'join';\n  else if (prefix === 's') action = 'skip';\n}\n\n// Stash lookup. Returns the resolved entry on hit, null on miss.\nlet entry = null;\ntry {\n  const list = JSON.parse(fs.readFileSync(PATH, 'utf8'));\n  if (Array.isArray(list)) {\n    entry = list.find((e) => e.shortid === suffix) || null;\n  }\n} catch (err) {\n  if (err.code !== 'ENOENT') {\n    // File unreadable or unparseable — fall through to legacy path silently\n  }\n}\n\n// Backward-compat: when the stash misses and the suffix looks like a slug\n// (not a hex hash like the Phase B shortids are), use it directly as\n// competition_id. Lets the simulated curl test harness in docs/setup-n8n.md\n// keep working without seeding the stash. Production callbacks always go\n// through the stash because every Telegram message has been stashed by the\n// Kaggle Email Watcher's \"Stash Pending Callback\" node.\nconst isHexHash = /^[0-9a-f]{6,16}$/.test(suffix);\nif (!entry && !isHexHash && suffix) {\n  entry = { competition_id: suffix };\n}\n\nreturn [{\n  json: {\n    action,\n    competition_id:    entry?.competition_id    || '',\n    competition_url:   entry?.competition_url   || '',\n    competition_name:  entry?.competition_name  || '',\n    email_id:          entry?.email_id          || '',\n    chat_id:           cb.message?.chat?.id     ?? entry?.chat_id ?? '',\n    message_id:        cb.message?.message_id   ?? entry?.message_id ?? null,\n    callback_query_id: cb.id,\n    from_user_id:      cb.from?.id,\n    from_first_name:   cb.from?.first_name,\n    raw_data:          rawData,\n    stash_hit:         !!entry?.shortid,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "2f06d0f2-22d5-45a5-a874-9806f3ab8b4f",
      "name": "Parse Callback Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "join",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "850e2115-d0b1-4dc1-918e-b8d4d111df34"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "join"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6603ba66-31b6-4186-a9cd-50c70c15b3dd",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "skip"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5d9f8a95-5462-4ef1-b9f9-8265ce02d85a",
      "name": "Route by Action"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query_id }}",
        "additionalFields": {
          "text": "✅ Joining…"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -256
      ],
      "id": "534458fa-7640-4b19-8a45-b4352bec9b35",
      "name": "Answer Join",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query_id }}",
        "additionalFields": {
          "text": "❌ Skipping…"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -64
      ],
      "id": "40424679-76db-45c6-8dbf-2205d2fb3ca1",
      "name": "Answer Skip",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query_id }}",
        "additionalFields": {
          "text": "⚠️ Unknown action"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        128
      ],
      "id": "444421b6-e007-4d3f-a207-e00d026d348e",
      "name": "Answer Unknown",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Callback Webhook": {
      "main": [
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Answer Join",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "YOUR_ERROR_WORKFLOW_ID",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {},
  "tags": []
}
