workflows/telegram-callback-handler.json
{
  "name": "Telegram Callback Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-callback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b0ba9b65-42ce-411a-8fd7-5b1d024e8cb1",
      "name": "Telegram Callback Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst PATH = '/data/state/pending-callbacks.json';\n\nconst body = $input.first().json.body;\nif (!body || !body.callback_query) {\n  throw new Error('Missing callback_query in webhook payload — not a Telegram callback POST?');\n}\n\nconst cb = body.callback_query;\nconst rawData = cb.data || '';\n\nlet action = 'unknown';\nlet suffix = '';\nlet competitionIdLegacy = '';\n\n// Format detection priority:\n// 1. Legacy URL-encoded \"action=<verb>&competition_id=<slug>\" — when \"=\" in rawData.\n// 2. Compact \"<j|s>:<shortid|slug>\" — when \":\" at position 1.\nif (rawData.includes('=')) {\n  const params = Object.fromEntries(\n    rawData\n      .split('&')\n      .filter(Boolean)\n      .map((pair) => {\n        const [key, ...valueParts] = pair.split('=');\n        return [\n          decodeURIComponent(key),\n          decodeURIComponent(valueParts.join('=')),\n        ];\n      })\n  );\n  action = params.action || 'unknown';\n  competitionIdLegacy = params.competition_id || '';\n} else {\n  const colonIdx = rawData.indexOf(':');\n  if (colonIdx === 1) {\n    const prefix = rawData[0];\n    suffix = rawData.slice(2);\n    if (prefix === 'j') action = 'join';\n    else if (prefix === 's') action = 'skip';\n  }\n}\n\n// Stash lookup. Returns the resolved entry on hit, null on miss.\nlet entry = null;\nlet stashError = null;\nif (suffix) {\n  try {\n    const list = JSON.parse(fs.readFileSync(PATH, 'utf8'));\n    if (Array.isArray(list)) {\n      entry = list.find((e) => e.shortid === suffix) || null;\n    }\n  } catch (err) {\n    if (err.code !== 'ENOENT') {\n      // Don't swallow — surface storage failure via the Error Handler so\n      // a corrupt or unreadable stash file does not silently turn live\n      // callbacks into half-broken executions. ENOENT stays silent (a\n      // fresh install with no stash file yet is normal).\n      stashError = err.message;\n    }\n  }\n\n  const isHexHash = /^[0-9a-f]{6,16}$/.test(suffix);\n  if (!entry && !isHexHash) {\n    // Phase A slug fallback: suffix is not a hex hash, treat it as a\n    // direct slug for the simulated curl test harness.\n    entry = { competition_id: suffix };\n  } else if (!entry && isHexHash) {\n    // Hex-hash suffix but stash miss: the entry has been pruned (>30d),\n    // never written, or the file became unreadable above. Reset action\n    // to 'unknown' rather than routing a click to join/skip with empty\n    // context — the Switch fallback then handles it loudly via Answer\n    // Unknown, surfacing the issue instead of silently producing a\n    // half-broken execution downstream. Caught by Copilot review on PR #69.\n    action = 'unknown';\n  }\n}\n\nif (stashError) {\n  throw new Error(`Pending callbacks stash read failed: ${stashError}`);\n}\n\nconst competition_id = entry?.competition_id || competitionIdLegacy;\n\nreturn [{\n  json: {\n    action,\n    competition_id,\n    competition_url:   entry?.competition_url   || '',\n    competition_name:  entry?.competition_name  || '',\n    email_id:          entry?.email_id          || '',\n    chat_id:           cb.message?.chat?.id     ?? entry?.chat_id ?? '',\n    message_id:        cb.message?.message_id   ?? entry?.message_id ?? null,\n    callback_query_id: cb.id,\n    from_user_id:      cb.from?.id,\n    from_first_name:   cb.from?.first_name,\n    raw_data:          rawData,\n    stash_hit:         !!entry?.shortid,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "2f06d0f2-22d5-45a5-a874-9806f3ab8b4f",
      "name": "Parse Callback Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "join",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "850e2115-d0b1-4dc1-918e-b8d4d111df34"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "join"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6603ba66-31b6-4186-a9cd-50c70c15b3dd",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "skip"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5d9f8a95-5462-4ef1-b9f9-8265ce02d85a",
      "name": "Route by Action"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query_id }}",
        "additionalFields": {
          "text": "✅ Joining…"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -256
      ],
      "id": "534458fa-7640-4b19-8a45-b4352bec9b35",
      "name": "Answer Join",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query_id }}",
        "additionalFields": {
          "text": "❌ Skipping…"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -64
      ],
      "id": "40424679-76db-45c6-8dbf-2205d2fb3ca1",
      "name": "Answer Skip",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query_id }}",
        "additionalFields": {
          "text": "⚠️ Unknown action"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        128
      ],
      "id": "444421b6-e007-4d3f-a207-e00d026d348e",
      "name": "Answer Unknown",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Callback Webhook": {
      "main": [
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Answer Join",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "YOUR_ERROR_WORKFLOW_ID",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {},
  "tags": []
}
